@font-face {
    font-family: "Josefin Sans";
    font-style: normal;
    font-weight: 700;
    src: local("Josefin Sans Bold"), local("JosefinSans-Bold"), url("fonts/josefin-sans-v12-latin-700.woff2") format("woff2"), url("fonts/josefin-sans-v12-latin-700.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    src: local("Open Sans Regular"), local("OpenSans-Regular"), url("fonts/open-sans-v15-latin-regular.woff2") format("woff2"), url("fonts/open-sans-v15-latin-regular.woff") format("woff");
}

* {
    box-sizing: border-box;
}

html {
    background: #282c34;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
    margin: 0;
    overflow: hidden;
    padding: 0;
}

section {
    height: 100vh;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 0;
    transition: opacity 0.1s ease-in-out;
    width: 100vw;
}

section.visible {
    opacity: 1;
    pointer-events: all;
}

.day {
    background: linear-gradient(150deg, #da4453, #89216b);
}

.week {
    background: linear-gradient(150deg, #71b280, #134e5e);
}

.month {
    background: linear-gradient(150deg, #43c6ac, #191654);
}

.header {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    font-family: "Josefin Sans", sans-serif;
    height: 25vh;
    overflow: hidden;
    padding: 1rem 0;
    text-align: center;
    text-transform: uppercase;
    user-select: none;
}

h1 {
    color: #fff;
    font-size: 3.0rem;
    margin: 1rem 0 0 0;
    padding: 0;
}

h2 {
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    margin: 0.5rem 0;
    padding: 0;
}

.goal {
    background: linear-gradient(150deg, rgba(0,0,0,0), rgba(0,0,0,0.1));
    color: #fff;
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
    height: 25vh;
    line-height: 1.5;
    margin: 0;
    opacity: 1;
    padding: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}

.goal.invisible {
    opacity: 0;
}

.goal.done {
    background: linear-gradient(150deg, #eee, #ccc);
    color: #666;
    position: relative;
}

.goal.empty .options {
    background: none;
    pointer-events: none;
}

.content {
    bottom: 0;
    display: block;
    height: 25vh;
    left: 0;
    padding: 1rem;
    position: absolute;
    right: 7rem;
    top: 0;
}

.options {
    background: url("images/checkmark-double.svg") center center no-repeat;
    background-size: 3rem;
    bottom: 0;
    opacity: 0.2;
    display: block;
    height: 25vh;
    position: absolute;
    right: 0;
    top: 0;
    width: 7rem;
}

.editing .options {
    background: url("images/checkmark.svg") center center no-repeat;
    background-size: 3rem;
    opacity: 1.0;
}